/* App.module.css */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #1e1e1e;
  padding: 20px;
  color: #8d959d;
  text-align: center;
}

.main {
  flex-grow: 1;
  padding: 20px;
  background-color: #f2f4f4;
}
