.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.navMenu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navMenu li {
  margin-right: 2rem;
}

.navMenu li a {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.navMenu li a.active,
.navMenu li a:hover {
  color: var(--primary-color);
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}
